@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 75vh auto auto;
    grid-template-areas: "header" "main" "footer";
    font-family: 'Patrick Hand', cursive;
}

.header-bg {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(204, 199, 203, 0.23)), url("header-bg.jpg");
    background-size: cover;
    color: rgb(93, 74, 74);
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-family: 'Molle', cursive;
}

.greeting {
    align-self: center;
    margin: auto;
    padding: 5px;
    font-size: 3rem;
}

.container {
    margin: 10px 0;
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.sub-heading {
    align-self: center;
    margin: auto;
    font-size: 2rem;
    color: rgba(51, 50, 47, 0.829);
    border: 2px solid rgba(53, 43, 51, 0.23);
    border-radius: 5px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.image {
    margin: 5px 0;
    width: 100%;
}

.final-heading {
    font-size: 2rem;
    padding: 5px;
    color: rgba(51, 50, 47, 0.829);
}

.discription {
    padding: 10px;
    color: rgb(77, 75, 75);
    font-size: 1.4rem;
    margin: 5px;
}

.main-footer {
    height: 4rem;
    background-color: rgba(78, 78, 78, 0.801);
    color: white;
    grid-area: footer;
    display: flex;
}

.footer-text {
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: auto;
}
